#  question 1

In [3]:
def add_numbers(a, b):
    return a + b

# Test the function
result = add_numbers(10, 15)
print("The sum is:", result)

The sum is: 25

# QUESTION 2

In [5]:
def currency_converter(amount, exchange_rate=280):
    pkr = amount * exchange_rate
    return f"{amount} dollars = {pkr} rupees"

# test the function
print(currency_converter(5))

5 dollars = 1400 rupees

# QUESTION 3

In [31]:
def display_student_info(*,name,age,grade,school):
    print(f"Name   : {name}")
    print(f"Age    : {age}")
    print(f"Grade  : {grade}")
    print(f"School : {school}")

In [45]:
display_student_info (name = "jazim",age = "15", grade = "10th", school = "GCSS")

Name   : jazim
Age    : 15
Grade  : 10th
School : GCSS

# QUESTION 4:

In [48]:
def calculate_price(price, quantity):
    total = price * quantity
    return total

print("Total Price:", calculate_price(150, 3))

Total Price: 450

# QUESTION 5:

In [53]:
def display_prices(product, **prices):
    print("Product is " + product)
    for place in prices:
        print(place + " price is " + str(prices[place]))

display_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product is Laptop
Amazon price is 800
eBay price is 750
Walmart price is 780

# QUESTION 6

In [56]:
def find_max(*numbers):
    max_num = numbers[0] 
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num


print(find_max(10, 45, 2, 99, 34))

99

# QUESTION 7:

In [59]:
def display_info(name, age, **details):
    print("Name:", name)
    print("Age:", age)
    if details:
        print("Other Details:")
        for key, value in details.items():
            print(f"{key}: {value}")

display_info("Alice", 30, address="123 Main St", phone="123-456-7890", email="alice@example.com")

Name: Alice
Age: 30
Other Details:
address: 123 Main St
phone: 123-456-7890
email: alice@example.com

# question 8

In [2]:
products = [
    {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1},
    {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05},
    {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2},
    {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0},
    {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}
]

in_stock_names = [product["name"] for product in products if product["in_stock"]]

discounted_prices = [
    (product["name"], product["price"] * (1 - product["discount"]) if product["discount"] > 0 else product["price"])
    for product in products if product["in_stock"]
]

print("In-stock product names:", in_stock_names)
print("Discounted prices:", discounted_prices)

In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

# question 9

In [5]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# question 10

In [8]:
numbers = list(range(1, 51))  # 1 se 50 tak numbers ki list
divisible_by_3_or_5 = [x for x in numbers if x % 3 == 0 or x % 5 == 0]
print(divisible_by_3_or_5)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50]