# question 1

In [2]:
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

# Increase the stock of the "Shirt" product (product ID 102) by 50 units
products[102]["stock"] += 50

# Add a new product "Smartphone"
products[104] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 699,
    "stock": 100
}

# Print the updated dictionary
print(products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 699, 'stock': 100}}

# question 2

In [5]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Remove duplicates
unique_items = list(set(shopping_list))

print(unique_items)

['apple', 'grape', 'banana', 'orange']

In [9]:
unique_items = []
for item in shopping_list:
    if item not in unique_items:
        unique_items.append(item)

print(unique_items)

['apple', 'banana', 'orange', 'grape']

# question 3

In [12]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Students in Course A but not in Course B
only_in_course_a = course_a - course_b
print("Students only in Course A:", only_in_course_a)

# Students only in one of the two courses (symmetric difference)
only_in_one_course = course_a ^ course_b
print("Students only in one course:", only_in_one_course)

Students only in Course A: {'Bob', 'John'}
Students only in one course: {'Charlie', 'Eve', 'Bob', 'John'}

# question 4

In [15]:
# Initialize variable to hold the sum of even numbers
sum_of_evens = 0

# Loop through numbers from 1 to 50
for num in range(1, 51):
    if num % 2 == 0:  # Check if number is even
        sum_of_evens += num

# Print the total sum of even numbers
print("The sum of all even numbers from 1 to 50 is:", sum_of_evens)

The sum of all even numbers from 1 to 50 is: 650

# question 5

In [18]:
# Input from user
num = int(input("Enter a number: "))

# Initialize the power value
power = 1

# Use a while loop to print the powers from 1 to 10
while power <= 10:
    print(f"{num}^{power} = {num ** power}")
    power += 1

Enter a number:  5

5^1 = 5
5^2 = 25
5^3 = 125
5^4 = 625
5^5 = 3125
5^6 = 15625
5^7 = 78125
5^8 = 390625
5^9 = 1953125
5^10 = 9765625

# question 6

In [20]:
# Input from user
num = int(input("Enter a number to start the countdown: "))

# Countdown loop
while num >= 0:
    print(num)
    num -= 1

# Message when countdown finishes
print("Countdown finished!")

Enter a number to start the countdown:  4

4
3
2
1
0
Countdown finished!

# questin 7

In [24]:
# Input from the user
num = int(input("Enter a number to calculate its factorial: "))

# Initialize the factorial variable
factorial = 1

# Calculate factorial using a for loop
for i in range(1, num + 1):
    factorial *= i

# Display the result
print(f"The factorial of {num} is {factorial}")

Enter a number to calculate its factorial:  5

The factorial of 5 is 120

# question 8

In [27]:
# Create an empty dictionary
person_info = {}

# Assign key-value pairs
person_info["name"] = "Alice"
person_info["age"] = 25
person_info["occupation"] = "Engineer"

# Print the dictionary
print(person_info)

{'name': 'Alice', 'age': 25, 'occupation': 'Engineer'}

# question 9

In [30]:
rows = int(input("Kitni lines ka triangle chahte ho? "))

i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end=" ")
        j = j + 1
    print()
    i = i + 1

Kitni lines ka triangle chahte ho?  5

*
* *
* * *
* * * *
* * * * *

# question 10

In [ ]:
for num in range(1, 21):
    if num % 4 == 0:
        continue
    if num % 7 == 0:
        break
    print(num)